body{
    margin: 0;
}

/* hello area start */

.hello-warp{
    display: flex;
}
img{
    width: 100%;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 3%;
    margin: auto;
}
.head-text{
    color: #f12f70;
    font-size: 3em;
    font-weight: 600;
}
.click-button{
    text-decoration: none;
    color: #ffff;
    font-weight: 400;
    background-color: #f12f70;
    padding: 10px 20px;
    border-radius: 5px;
}

.hello-area{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    height: 100vh;
}