*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section{
    padding: 40px 0;
}



/* hello area start */

.hello-warp{
    display: flex;
}
.half-width img{
    width: 80%;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 3%;
    margin: auto;
}
.head-text{
    color: #f12f70;
    font-size: 3em;
    font-weight: 600;
}
.click-button{
    text-decoration: none;
    color: #ffff;
    font-weight: 400;
    background-color: #f12f70;
    padding: 10px 20px;
    border-radius: 5px;
}

.hello-area{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 100vw; */
    height: 100vh;
}

/* biography area start */
.bio-wrap{
    display: flex;
}
.bio-area{
    background-image: url(../img/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    /* background-size: 100vw; */
    
}
/* .half-width img{
    width: 80%;
} */


/* project area start */
.project-wrap{
    display: flex;
    margin: 15px 150px;

}
.work-iteam img{
    width: 88%;
}

/* client area start */

.client-main, .box{
    text-align: center;
}
.box{
    background-color: #f12f70;
    color: aliceblue;
    padding: 50px 100px;
    width: 45%;
    margin: auto;
    border-radius: 30px;
    background-image: linear-gradient( #f12f70, #f12fb7);
}
#copy-right{
    text-align: center;
    color: gray;
}

.big-text{
    font-size: 45px;
}